p, h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96vh;
    background-color: rgb(28, 28, 28);
}

#container{
    display: flex;
    flex-direction: column;
}

h1 {
    text-shadow: 1px 2px 3px black;
}

p {
    font-size: 20px;
    text-align: center;
}

a {
    align-self: center;
    margin-top: 20px;   
}

button {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    font-weight: bold;
    border: none;
}

button:hover {
    background-color: rgb(20, 193, 61);
    color: white;
    cursor: pointer;
}